@import 'definitions';

.subscribe-button {
  color:white;
  background-color: @green;
  outline:none;
  border:none;
  text-transform:uppercase;
  font-size:1em;
  height:2em;
  vertical-align:top;
  font-family: @sans-serif;
  cursor: pointer;
}

.font-weight-normal {
  font-weight:normal;
}


#mce-EMAIL {
  font-size:1em;
  font-family: @sans-serif;
  margin-right:-5px;
  padding:0px 6px 0px 6px;
  border: none;
  height:2em;
  vertical-align:top;
}

