@import 'css/definitions';

.button {
  color:white;
  background-color: @green;
  outline:none;
  border:none;
  text-transform:uppercase;
  font-size:1em;
  height:2em;
}

#mce-EMAIL {
  color: @green;
  font-size:1em;
  margin-right:-5px;
  padding:0px 0px 0px 6px;
  height:2em;
  border:none;
}
