
// SHARE MENU

.share-menu {
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  text-align: left;
  vertical-align: middle;
  line-height: 1;
}



// icon in a circle is the only visible thing
.share-menu .icon.share {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
  height: 1.5em;
  width: 1.5em;
  position: relative;
  left: -0.1em;
  top: 0.1em;
}

.share-menu .border {
  display: inline-block;
  border: .1em currentColor solid;
  border-radius: 50%;
  padding: 0.2em;
}


// the options show up on hover (with mouse only since the fake :hover on touch is awful)
// or when toggled .on with touch
.share-menu .options {
  display: flex;
  flex-flow: column nowrap;

  position: absolute;
  bottom: 2em;

  fill: white;

  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;

  transform-origin: 50% 100%;
  transform: scale(0.9);
  // opacity: 0;
  z-index: -1;
  overflow: hidden;
  text-shadow: none;
}

// delay on mouse so it doesn't close immediately when you move outside
html.mouse .share-menu .options {
  transition:
    opacity 0.5s 0.3s ease-out,
    // height 0ms 0.8s linear,
    transform 0.5s 0.3s ease-out;
}

.down > .share-menu .options {
  bottom: initial;
  top: 2em;
  transform-origin: 50% 0;
}


.share-menu:hover .options {
  z-index: @menu-z-index;
  transform: scale(1);
  // height: auto;
  opacity: 1;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}



// buttons are green
.share-menu .options a {
  display: inline-block;
  background: @green;
  line-height: 1;
  padding: 0.3em;
  transition: color 0.2s ease-out;
}


// icons white
.share-menu .options a svg {
  fill: white;
  width: 1.5em;
  height: 1.5em;
}

// icon changes to black on hover
// (only on mouse so we don't get the terrible fake hover events on touch)
html.mouse .share-menu .options a svg:hover {
  fill: @text-color;
}

// every button but the last one has the line under it
.share-menu .options a:not(:last-child) {
  border-bottom: 1px solid rgb(155,233,171);
}

// when menu goes down, it's the top that doesn't have it
.down > .share-menu .options .share:not(:first-child) {
  border-top: 1px solid rgb(155,233,171);
}

// arrow
.share-menu svg.arrow {
  display: block;
  width: 1em;
  height: 0.5em;
  margin: auto;
  fill: @green;
}

