@import 'css/_definitions';
@import 'word-by-word';

html {
  font-family: @serif;
  font-size: 16px;
}

h1 {
  margin: 1rem;
}

.footer-logo,
p,
.dek,
.subhed {
  width: calc(100% - 2rem);
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: auto;
  margin-bottom: 1.5em;
}

a,
figure a,
figcaption a,
article>p>a,
a:active,
a:hover,
a:focus {
  color: @green;
}

.byline-box a,
nav a{
  color: @text-color;
}

article>p {
  font-family: @serif;

}

.highlight {
  color: @green;
}

.dek {
  margin: 2em auto 1em;
}

div {
  overflow:hidden;
}

// share icons to green
.cp-icon.email,
.cp-icon.link,
.cp-icon.facebook,
.cp-icon.twitter {
  fill: @green;
}

.no-wrap {
  display: inline-block;
  white-space: nowrap;
}


@media @tablet     { .hed { font-size: 2.2em; } }
@media @desktop    { .hed { font-size: 2.4em; } }
@media @desktop-xl { .hed { font-size: 2.5em; } }


.byline {
  font-family: @sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.byline:before {
  content: ' by ';
  font-size: 0.8em;
  font-weight: 300;
  text-transform: lowercase;
}


.story-type {
  font-family: @sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: @green;
}

.subhed {
  font-weight: 700;
  font-family: @sans-serif;
}


.publication-date {
  font-family: @sans-serif;
}

.dek {
  font-size: 1.5em;
  font-family: @sans-serif;
  font-weight: 300;
  line-height: 1.2;
}


figcaption {
  font-size: .9em;
  font-family: @sans-serif;
  line-height: 1.1;
  margin: 0.3em 0;
}

// when it's full-width/window give it margin to keep from edge of screen
figure.full-width  > figcaption,
figure.full-window > figcaption {
  margin: 0.3em 0.5em;
}

// these are actually all full width on mobile and tablet
@media @mobile, @tablet {
  figure figcaption {
    margin: 0.3em 0.5em;
  }
}



section {
  clear: both;
}

figure {
  margin: 1rem auto;
  clear: both;
  max-height: 100vh;
}

figure .frame a {
  color: #eee;
}

.full-window {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

// need Codex magic javascript for this because otherwise setting height
// will cause things to overlap each other
html.javascript .full-window {
  height: calc(100vh - 4.2rem);
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33%;
}

.quarter-width {
  width: 25%;
}

@media @mobile, @tablet {
  figure.half-width {
    width: 100%;
  }
}

figure .frame {
  color: white;
}

figure.left,
figure.right {
  width: 40%;
}

figure.custom-left,
figure.left {
  float: left;
  clear: left;
  margin: 1em;
}

figure.custom-right,
figure.right {
  float: right;
  clear: right;
  margin: 1em;
}

@media @desktop-xl {
  figure.custom-right,
  figure.right {
    margin-right: 8%;
  }
  figure.custom-left,
  figure.left {
    margin-left: 8%;
  }
}

@media @mobile {
  figure.custom-left,
  figure.custom-right,
  figure.left,
  figure.right {
    width: calc(100% - 2em) !important;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}

figure .frame .content-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

figure .frame .content-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

// these by default will have "flex: 0 1 auto;" which makes them shrink when
// obviously they shouldn't because they probably have text in there
figure .frame .content-center > p,
figure .frame .content-bottom > p {
  flex: 0 0 auto;
}

html.javascript {

  figure .top    { top: 0; }
  figure .right  { right: 0; }
  figure .bottom { bottom: 0; }
  figure .left   { left: 0; }

  figure .top,
  figure .right,
  figure .bottom,
  figure .left {
    position: absolute;
    width: initial;
  }

}


figure.full-window > [x-cp-overlay],
figure.full-width > [x-cp-overlay] {
  margin: 0.3em 0.5rem;
}

figure > [x-cp-overlay] * {
  margin-left: 0;
  margin-right: 0;
}


// headline on image
figure .frame .hed {
  text-shadow: @headline-shadow;
}



// SECTION BREAKS

.section-start-graf {
  padding-top: 2em;
}

.section-first-words {
  font-weight: 900;
}




// PULLQUOTE



.pullquote {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5em;
  font-family: @sans-serif;

  position: relative;
  max-width: 400px;
  float: right;
  margin: 2em;
}

.pullquote .attribution {
  font-family: @sans-serif;
  font-style: normal;
  font-size: 0.8em;
  font-weight: 500;
  text-align: right;
  margin-top: .5em;
}

.cyrillic .pullquote {
//  font-family: @cyrillic;
}

.pullquote.block p {
  width: 100%;
}

// on narrower window, move it into main flow
@media only screen and (max-width: 1000px) {
  .pullquote {
    float: none;
    width: calc(100% - 2rem);
    max-width: 35rem;
    margin: 2em auto;
  }
}







// line above
.pullquote:before {
  content: '';
  display: block;
  position: relative;
  width: 70%;
  border-top: 1px solid currentColor;
  top: -0.5em;
}



// BIO BOX

.bio-box {
  width: calc(100% - 2rem);
  max-width: 35rem;
  font-family: @sans-serif;
  font-weight: 300;
  border-top: 1px solid grey;
  padding-top: 0.2em;
  margin: 1em auto 2em;
}
.bio-box p {
  margin: 0 0 1em;
}

.bio-box .name {
  font-weight: 700;
}





// BYLINE BOX

.byline-box {
  min-width: 230px;
  font-family: @sans-serif;
  float: right;
  margin: 0 2em 2em 2em;
  width: 25%;
}

.byline-box p {
  padding: 0;
}

//these four lines were added in october codex update
.byline-box > * {
  width: 100%;
  margin: 0;
}

.byline-box .story-type {
  padding-bottom: .25em;
  color: @green;
  font-weight: 500;
}

.byline-box > *:not(.story-type):not(.switch) {
  border-top: 1px solid #bbb;

  color: @text-color;
  font-weight: 500;
  line-height: 1;

  // so these are going to take up 2 lines each or
  // 3em in total:
  //   padding-top .5 - 1px
  //   border 1px
  //   by/location/date 1
  //   actual text 1
  //   padding-bottom .5
  padding-top: calc(.5em - 1px);
  padding-bottom: .5em;
}

.byline-box > :last-child {
//  border-bottom: 1px solid #bbb;
}

.byline-box .photos-by:before,
.byline-box .text-by:before,
.byline-box .illustrations-by:before,
.byline-box .byline:before,
.byline-box .location:before,
.byline-box .publication-date:before,
.byline-box .byline-current:before,
.byline-box .byline-edition:before {
  display: block;
  color: #888;
  // equivalent to line-height: 1 of parent em
  font-size: 0.75em;
  line-height: 1.33333;
  font-weight: 400;
  text-transform: uppercase;
}

.byline-box .byline {
  text-transform: none;
}

.byline-box .text-by:before {
  content: 'Text By';
}

.byline-box .illustrations-by:before {
  content: 'Illustrations By';
}

.byline-box .photos-by:before {
  content: 'Photos By';
}

.byline-box .location:before {
  content: 'Location';
}
.byline-box .publication-date:before {
  content: 'Date';
}

.byline-box .byline-current:before {
  content: 'Current';
}
.byline-box .byline-edition:before {
  content: 'Edition';
}

.byline-box .byline-share svg {
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
}



@media @mobile {

  // in .small.codex it collapses to two lines
  .byline-box {
    left: 0;
    width: calc(~'100% - 2rem');
    max-width: 35rem;
    margin: auto;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  .byline-box p {
    margin: 0;
  }

  .byline-box .story-type,
  .byline-box .byline {
    display: inline-block;
  }

  .byline-box .story-type {
    margin-right: 0.3em;
  }

}




//related stories cards

.related {
  position: relative;
  min-width: 230px;
  width: 25%;
  /*max-width: 400px;*/
  float: left;
  margin: 2em;
}

.card .headers {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding:.3em;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	width: 100%;

}

.related img {
  width: 100%;
}

.headline {
 margin:0;
}

@media only screen and (max-width: 1000px) {
  .related {
    float: none;
    width: calc(100% - 2rem);
    max-width: 35rem;
    margin: 2em auto;
  }
}





// PHOTO CREDIT

.photo-by {
  font-size: 0.9em;
  font-family: @sans-serif;
  color: grey;
}

.photo-credit {
  font-size: 0.9em;
  font-family: @sans-serif;
  font-style: italic;
  line-height: 1;
}

html.javascript figure .frame .photo-credit:not(.after),
html.javascript figure > .photo-credit:not(.after) {
  position: absolute;
  bottom: 0;
  right: 0;
}

figure .photo-credit {
  margin: 0.4em;
}


// jumps to right side when it's an after block
.photo-credit.after {
  align-self: flex-end;
}

.photo-credit a,
.photo-credit a:visited {
  color: @text-color;
  text-decoration: none;
}

.photo-credit a:hover {
  color: @green;
}

.frame .photo-credit a,
.frame .photo-credit a:visited {
  color: white;
}

.frame .photo-credit a:hover {
  color: @green;
}




// END MARK

.end-mark {
  white-space: nowrap;
}
.end-mark:after {
  display: inline-block;
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: @green;
  margin-left: 0.3em;
}

.end-share {
  //float:right;
  margin-left: auto;
  margin-right: auto;
  width: 12.75em;
}

.end-share svg {
  width: 2em;
  height: 2em;
  margin: 1em;
}

// Navigation sidebar - articles in current
/*
.current {
  font-family: @sans-serif;
  position: relative;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  max-width:35rem;
}

.current h2 a{
  color: @green;
  text-decoration: none;
}

.current h2{
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top:.5em;
}

.current p{
  margin-bottom:0;
}

.current a{
  text-decoration:none;
}

.current a:hover{
  color:@green;
}



.article {
  position: relative;
  padding: 1em .5em 0em 0.1em;
  margin-left: 2em;
}

.line {
  position: absolute;
  top: 2em;
  left: 0;
  width: 0.5em;
  margin-left: .15em;
  height: 100%;
  background:  @currents-line-color;
  top:2em;
}


.article:last-child .line {
  background-color: @page-background;
  border: 1px solid @almost-black;
}

.article:before {
  display: block;
  content: '';
  position: absolute;
  top: 1.3em;
  left: 0;
  z-index: 5;
  width: .8em;
  height: .8em;
  background: @almost-black;
  border-radius: 50%;
}

*/


//nav

nav {
  font-family: @sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
}

nav p {
  margin: 0;
  padding: 0;
  max-width: none;
  width: auto;
}

.nav-arrow {
  font-size: 2em;
  font-family: @serif;
}

@media @desktop, @desktop-xl {
  nav .now,
  nav .in {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #888;
  }

  nav h1 {
    margin: .25em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: calc(40vw - 20.4px);
    font-weight: normal;
  }

  nav h1 a {
    font-weight: bold;
  }

  .nav-arrow {
    display:block;
  }


  nav .previous-article {
    position: fixed;
    bottom: 50%;
    left: 1%;
  }

  nav .current-article {
    display:none;
    width: calc(60vw + 110px);
    position: absolute;;
    bottom: 1.2em;
    left: calc(40vw - 110.2px);
    font-size: 1.25em;
  }

  nav .next-article {
  //  width: 30vw;
    position: fixed;
    bottom: 50%;
    right: 1%;
    text-align: right;
  }

  nav .current-current,
  .nav-sep,
  .nav-title {
    display: none;
  }



}

@media @mobile, @tablet {

  nav .current-current,
  nav .current-article,
  .nav-sep,
  nav .nav-title,
  nav .nav-sep,
  nav .in,
  nav .now {
    display: none;
  }

  nav {
    background-color: @page-background;
    box-shadow: 0 -5px 5px #888888;
    height: 1.8em;
    z-index: 10;
  }

  nav h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 0;
    bottom: 0;
    padding: .25em;
    z-index: -1;
  }

  nav .current-article {
    width: 100%;
    text-align: center;
  }

  nav .previous-article {
    position: absolute;
    bottom: 0;
    left: 1%;
  }

  nav .previous-article .nav-text {
    position: relative;
    top: -.1em;
  }

  nav .next-article {
    position: absolute;
    bottom: 0;
    right: 1%;
    text-align: right;
  }

  nav .next-article .nav-text {
    position: relative;
    right: 2.1em;
    top: -.1em;
  }

  nav .next-article .nav-arrow {
    position: relative;
    left: 1.3em;
  }

  nav .next-article .nav-text,
  nav .previous-article .nav-text {
    height: 100%;
    width: 100%;
  }

  nav .nav-arrow {
    line-height: 1em;
  }


}


@media @mobile {
  .logo .logo-stay {
    font-size: 14px;
    width: 100%;
  }

  .footer-logo>div {
    //width: 40%;
    //min-width: 160px;
    //margin-left: auto;
    //margin-right: auto;
  }

  .footer-logo {
    font-size: 14px;
  }
}

@media @tablet, @desktop, @desktop-xl {
  .footer-logo {
    font-size: 15px;
  }

  .footer-logo>div {
    //width: 40%;
    //float: right;
    //margin-top: 2em;
  }

  .logo .logo-stay {
    font-size: 18px;
  }
}

.footer-logo .logo {
  display:none;
}

.footer-logo p.stay {
  display:none;
}


.logo .logo-stay {
  font-family: @sans-serif;
  color: @green;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
}



.footer-logo {
  font-family: @sans-serif;
}

.footer-logo .footer-edition,
.footer-logo .footer-current {
  width: 100%;
  height: 25vh;
  margin-left: 0;
  position: relative;
}

.footer-logo .footer-current a:before {
  display:block;
  font-weight: normal;
  content: "More stories in: ";
}



.footer-logo .footer-edition a:before {
  display: block;
  font-weight: normal;
  content: "More stories in: "
}

.footer-logo a {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  color: @almost-white;
  font-weight: bold;
  padding: .5em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
}

.footer-subscribe {
  margin-bottom: 1em;
}

.footer-subscribe h2,
.footer-subscribe p {
  margin: 0;
}


//edition images
.lgbtq-crisis {
  background: url('https://usercontent.codex.press/images/06e4358c-af49-470c-af8e-a1568ab0f0aa/i1000.jpg?1475852470');
  background-position: 0% 50%;
}

.migration-crisis {
  background: url('https://usercontent.codex.press/images/8a8e2a50-e9e8-4f0c-a951-d6f3631c649a/i1000.jpg?1473579822');
  background-position: 0% 50%;
}

.disinformation-crisis {
  background: url('https://usercontent.codex.press/images/26057c30-5521-4919-9458-6dccfdcd44ed/i1000.jpg?1473579821');
  background-position: 0% 70%;
}

//current images
.kremlin-influence {
  background: url('https://usercontent.codex.press/images/0cd7daef-0bde-441b-81be-20190688d66e/i1000.jpg');
  background-position: 0% 70%;
}

.orthodox-church {
  background: url('https://usercontent.codex.press/images/2a89aa57-f3d6-47c4-ac5f-22394300201a/i1000.jpg');
  background-position: 0% 70%;
}

.east-west-divide {
  background: url('https://usercontent.codex.press/images/f41ae3e8-0a5b-4ea9-9b93-e7dbb529fd1b/i1000.jpg');
  background-position: 0% 40%;
}

.information-war {
  background: url('https://usercontent.codex.press/images/6f11495d-c8aa-4320-8e95-ee8c5b9df46a/i1000.jpg');
  background-position: 0% 70%;
}

.rights-abuses {
  background: url('https://usercontent.codex.press/images/19c915ab-7290-4c73-9629-a4c4c0854c6a/i1000.jpg');
  background-position: 0% 70%;
}

.traditional-values {
  background: url('https://usercontent.codex.press/images/73860fed-e037-4961-8f3c-d1b1f4ebf2e1/i1000.jpg');
  background-position: 0% 40%;
}

.foreign-proxies {
  background: url('https://usercontent.codex.press/images/0bf88777-a616-4c93-a1f7-e4905040c148/i1000.jpg');
  background-position: 0 40%;

}

.information-war-1 {
  background: url('https://usercontent.codex.press/images/e0acc1eb-dbd0-4beb-b954-ff6c9d7283f3/i1000.jpg');
  background-position: 0 15%;
}

.armed-conflict {
  background: url('https://usercontent.codex.press/images/0534e54b-1f96-4a9a-83ad-a4fd317edc4b/i1000.jpg');
  background-position: 40% 30%;
}

.integration-issues {
  background: url('https://usercontent.codex.press/images/4a23e42e-4c08-4532-bc0c-7708c1da20a7/i1000.jpg');
  background-position: 30% 20%;
}

.fear-and-loathing {
  background: url('https://usercontent.codex.press/images/31149eed-2b4c-417c-adf4-69f1a18c0eb8/i1000.jpg');
  background-position: 30% 60%;
}

.geopolitical-ruptures {
  background: url('https://usercontent.codex.press/images/cbb0f7fd-de88-44f8-b513-ed559480ca02/i1000.jpg');
  background-position: 10% 60%;
}

.rewriting-history {
  background: url('https://usercontent.codex.press/images/b7cb0d76-dd47-4e24-9f01-671a5ce29b72/i1000.jpg');
  background-position: 25% 45%;
}

.cyrillic * {
  font-family: @cyrillic;
}
