@import 'css/definitions.less';

//break-point: 800px
//make current-description no longer float
//make cards have full width, perhaps lower height (but at least 8em)

//vertical break-point: 430 px height.  smaller and the layout starts to break
//at lower than 800 width, it's 460 px
//lower than 460 height: get rid of current-description and change headers
// top:0

body {
  font-family: @sans-serif;
}

@media only screen and (min-width: 800px) and (min-height: 430px) {
  .current-description {
    width: 31%;
    float: right;
    margin-top:4em;
    margin-right: 2%;
  }

  .card {
      width:66%;
      height:30vh;
  }

  .card .headers {
    top: calc(100% - 6em);
  }

}

@media only screen and (min-width: 800px) and (max-height:429px) {
  .expansion {
    font-size: 1em;
  }

  .titles div {
  //  margin-top: -.5em;
  }

  .current-description {
    width: 31%;
    float: right;
    margin-top:1em;
    margin-right: 2%;
  }

  .card {
      width:66%;
      height:20vh;
  }

  .card .headers {
    top: 0;
    font-size: .8em;
  }

  .card span {
    display:none;
  }

}


@media only screen and (min-width: 530px) and (max-width: 799px) and (min-height:460px){
  .current-description {
    margin: .3em;
  }

  .card {
    width: 100%;
    height: 20vh;
  }

  .card .headers {
    top: calc(100% - 6em);
  }
}

@media only screen and (min-width: 530px) and (max-width: 799px) and (max-height:459px){
  .current-description,
  .card span {
    //margin: .3em;
    display:none;
  }

  .card {
    width: 100%;
    height: 20vh;
  }

  .card .headers {
    top: -.7em;
    font-size: .8em;
  }
}

@media only screen and (max-width: 615px){
  .current-description {
    display:none;
  }
}

@media @mobile {
  .card {
    width: 100%;
    height: 8em;
  }

  .card .headers {
    top: 0;
  }
}


.currents {
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.currents,
.expansion,
.titles {
  min-height: 15em;
}


.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titles div {
    height: 18vh;
    min-height:3em;
  //  border:1px solid black;
    padding: 1vh 1vw;
    position: relative;
}

.titles h1 {
  text-transform:uppercase;
  font-size: 4vw;
  margin:0;
  position:absolute;
  line-height: 1;
  top:.5vh;
}

.titles div:hover {
  background-color: @almost-black;
  color: @green;
}

.expansion {
  padding-bottom: 1em;
  background-color: @almost-black;
  color: @almost-white;
  width: 48.5vw;
  position: absolute;
  right: 0;
  top: 0;
  height:90vh;
}

.card {
	border: 2px solid @almost-black;
//	height: 30vh;
	//margin: 0 2vw 4vh 2vw;
	position: relative;
  display:block;
//  width:66%;
  overflow: hidden;
}

.card-dek {
  display:none;
}

.card .headers {
  display:block;
  width: 100%;
  position: absolute;
  //top: calc(100% - 6em);
  left: 0em;
  color: white;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	padding:.3em;


  /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    4px 2px 4px rgba(0, 0, 0, 0.8);
		*/
}


.card .headers .headline {
  font-size: 1.3em;
  font-weight: 500;
}
.card .headers p {
  margin: 0;
}

.card .headers .byline {
  white-space: nowrap;
}

.card .headers .story-type {
  color: @green;
}


.stream-item {
  position: relative;
  padding: 0 .5em 1em 1em;
  margin-left: .5em;
}

.stream-item .text {
  color: @green;
}

.stream-item h1,
.stream-item p{
  margin-bottom:-.5em;
}

.line {
  position: absolute;
  left: 0;
  width: 0.5em;
  margin-left: .15em;
  height: 100%;
  background: @currents-line-color;
  //border:.1em solid black;
  top:1em;
}


.last-stream-item .line {
//  display:none;
  top:0em;
  height:50%;
}

.stream-item:before {
  display: block;
  content: '';

  position: absolute;
  bottom: .8em;
  left: 0;//-0.1em;
  z-index: 5;

  width: .8em;
  height: .8em;

  background: @green;
  //border:.1em solid black;
  border-radius: 50%;
}
