@import 'css/definitions.less';

//break-point: 800px
//make current-description no longer float
//make cards have full width, perhaps lower height (but at least 8em)

//vertical break-point: 430 px height.  smaller and the layout starts to break
//at lower than 800 width, it's 460 px
//lower than 460 height: get rid of current-description and change headers
// top:0

body {
  font-family: @sans-serif;
}


//Top Boxes

.featured h1 {
  margin-left: 1vw;
}

.about {
  clear:both;
  background-color: @green;
  color: white;
  padding: 1vh 1vw;
}

.about h1 {
  color: @text-color;
  margin-top: .25em;
  margin-bottom: .25em;
}

.about p {
  margin-top: .25em;
  margin-bottom: .25em;
}

.top-story {
  position: relative;
	border: 2px solid @almost-black;
	height: 50vh;
	margin: 0 1vw 4vh 1vw;
}

.top-story .headers {
  position:absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: .3em;
  background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,0.4));
  width: 100%;
}

.top-story .headers .headline {
  font-size: 1.3em;
  font-weight: 500;
}
.top-story .headers p {
  margin: 0;
}

.top-story .headers .byline {
  white-space: nowrap;
}

.top-story .headers .story-type {
  color: @green;
}


//news feed
.news {
  list-style: none;
  padding:0;
  margin:0;
}

.news .date {
  color:@green;
  font-weight:500;
  margin-right:.5em;
  padding-right:.5em;
  border-right: 1px solid @green;
}

.news p {
	color:@text-color;
  padding-left: 1em;
  text-indent: -.7em;
	margin-bottom:.75em;
	font-weight:300;
}

.more a, .more a:visited {
  color: @green;
  text-decoration: none;
}

a.feed {
  display:block;
}
a.feed, a.feed:link, a.feed:hover, a.feed:visited a.feed:active {
	text-decoration:none;
	color:@text-color;
}






@media only screen and (min-width: 950px){
	.featured {
		width:64.5%;
		margin: 0 .5% 1vh 1%;
		float:left;
	}
	.news {
		width:32.5%;
		margin:0 1% 1vh .5%;
    clear:right;
		float:right;
	}
  .about {
    //margin-left: 2vw;
    //margin-right: 2vw;
  }
  .about p {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about h1 {
    text-align: center;
  }
}


@media only screen and (min-width: 530px) and (max-width: 950px){
  .featured {
    width:48.5%;
		margin: 0 .5% 1vh 1%;
		float:left;
	}
  .news {
		width:48.5%;
		margin: 0 1% 1vh .5%;
		float:right;
	}
  .about {
    clear:both;
  //  margin-left: 2vw;
  //  margin-right: 2vw;
  }
}

@media @mobile {
  .news {
    margin: 0 1% 1vh 1%;
  }
  .about {
  //  margin-left: 2vw;
  //  margin-right: 2vw;
  }
}

//Currents Nav

.currents-heading {
  //font-size: 3vw;
  clear:both;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

.currents-heading .subtitle {
  //font-size: 2.4vw;
  color: @green;
  font-weight:400;
}

@media only screen and (min-width: 800px) and (min-height: 430px) {
  .current-description {
    width: 31%;
    float: right;
    margin-top:4em;
    margin-right: 2%;
  }

  .card {
      width:66%;
      height:30vh;
  }

  .card .headers {
    top: calc(100% - 6em);
  }

}

@media only screen and (min-width: 800px) and (max-height:429px) {
  .expansion {
    font-size: 1em;
  }

  .titles div {
  //  margin-top: -.5em;
  }

  .current-description {
    width: 31%;
    float: right;
    margin-top:1em;
    margin-right: 2%;
  }

  .card {
      width:66%;
      height:20vh;
  }

  .card .headers {
    top: 0;
    font-size: .8em;
  }

  .card span {
    display:none;
  }

}


@media only screen and (min-width: 530px) and (max-width: 799px) and (min-height:460px){
  .current-description {
    margin: .3em;
  }

  .card {
    width: 100%;
    height: 20vh;
  }

  .card .headers {
    top: calc(100% - 6em);
  }
}

@media only screen and (min-width: 530px) and (max-width: 799px) and (max-height:459px){
  .current-description,
  .card span {
    //margin: .3em;
    display:none;
  }

  .card {
    width: 100%;
    height: 20vh;
  }

  .card .headers {
    top: -.7em;
    font-size: .8em;
  }
}

@media only screen and (max-width: 615px){
  .current-description {
    display:none;
  }
}

@media @mobile {
  .card {
    width: 100%;
    height: 8em;
  }

  .card .headers {
    top: -.7em;
    font-size: .8em;
  }

  .card span {
    display:none;
  }

  .titles div {
    background:linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  }

  .titles div:nth-child(odd) {
  //  background:linear-gradient(to bottom right, rgba(0,0,0,0.3), rgba(0,0,0,0));
  }

  .titles div:nth-child(even){
  //  background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
  //  background-color: rgba(70, 198, 100, 0.4);

  }

  .titles h1 {
    font-size: 1.5em;
    margin:.75em;
  //  color: @green;
  }
  .expansion {
    display:none;
  }
}

@media @tablet, @desktop, @desktop-xl {
  .titles h1 {
    font-size: 4vw;
    margin:0;
    position:absolute;
    line-height: 1;
    top: calc(50% - 2vw);
  }
  .titles div {
    height: 18vh;
    min-height:3em;
  }
}

.currents {
//  width: 96vw;
  margin-left: 2vw;
  margin-right: 2vw;
  position: relative;
}


.currents,
.expansion,
.titles {
  min-height: 15em;
}


.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titles div {

  //  border:1px solid black;
    padding: 1vh 1vw;
    position: relative;

}

.titles h1 {
  text-transform:uppercase;
//  font-size: 4vw;
}

.titles a,
.titles a:visited {
  text-decoration: none;
  color: @text-color;
}

.titles a:hover,
.selected-title a,
.selected-title a:visited {
  text-decoration:none;
  color: @green;
}





.titles div:hover,
.selected-title {
  background-color: @almost-black;
  color: @green;
}

.expansion {
  padding-bottom: 1em;
  background-color: @almost-black;
  color: @almost-white;
  width: 48.5vw;
  position: absolute;
  right: 0;
  top: 0;
  height: 90vh;
  overflow: hidden;
}

.top-expansion {
  z-index:100;
}

.card {
	border: 2px solid @almost-black;
//	height: 30vh;
	//margin: 0 2vw 4vh 2vw;
	position: relative;
  display:block;
//  width:66%;
  overflow: hidden;
}

.card-dek {
  display:none;
}

.card .headers {
  display:block;
  width: 100%;
  position: absolute;
  //top: calc(100% - 6em);
  left: 0em;
  color: white;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	padding:.3em;


  /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    4px 2px 4px rgba(0, 0, 0, 0.8);
		*/
}


.card .headers .headline {
  font-size: 1.3em;
  font-weight: 500;
}
.card .headers p {
  margin: 0;
}

.card .headers .byline {
  white-space: nowrap;
}

.card .headers .story-type {
  color: @green;
}


.stream-item {
  position: relative;
  padding: 0 .5em 1em 1em;
  margin-left: .5em;
}

.stream-item .text {
  color: @green;
}

.stream-item a,
.stream-item a:visited,
.stream-item a:hover {
  color:@green;
  text-decoration: none;
}

.stream-item h1,
.stream-item p{
  margin-bottom:-.5em;
}

.line {
  position: absolute;
  left: 0;
  width: 0.5em;
  margin-left: .15em;
  height: 100%;
  background: @currents-line-color;
  //border:.1em solid black;
  top:1em;
}


.last-stream-item .line {
//  display:none;
  top:0em;
  height:50%;
}

.stream-item:before {
  display: block;
  content: '';

  position: absolute;
  bottom: .8em;
  left: 0;//-0.1em;
  z-index: 5;

  width: .8em;
  height: .8em;

  background: @green;
  //border:.1em solid black;
  border-radius: 50%;
}
