@import '_definitions.less';

body > footer {
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #ddd;
  padding:.5em;
  margin-bottom: 1.8em;

  p {
    font-family: @sans-serif;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: .5em;
    color: @text-color;
    max-width: none;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: @text-color;
  }

  a:hover {
    color: @green;
  }

  h1 {
    color: @text-color;
  }

  @media @tablet, @desktop, @desktop-xl {
    .footer-description {
      min-width: 240px;
      width: 40%;
    }

    .footer-editions {
      flex: 0 1 20%;
      min-width: 9.2em;
    }

    .footer-corporate {
      flex: 0 1 20%;
    }
  }

  @media @mobile {
    .footer-description {
      width: 90%;
    }
    .footer-editions,
    .footer-corporate {
      width: 40%;
    }

    .footer-copyright {
      margin-top: .75em;
    }
  }

}
