@import 'css/definitions.less';
@import 'css/newsletter_signup.less';

* {
	box-sizing:border-box;
}

body {
	font-family:@sans-serif;
	margin:0;
	background-color:white;
}


header.sitewide {
	height: 10vh;
	min-height:2em;
	background-color:@page-background;
	padding: calc(5vh - .75em);
}

header.sitewide h1{
	margin:0;
	font-size:1.5em;
}

@media @desktop-xl{ //only screen and (min-width: 1129px) {
	.editions {
		width:75%;
		margin-left:auto;
		margin-right:auto;
	}
	.top-stories {
		width:48%;
		margin: 2vh .5% 2vh 13.3%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:24%;
		margin:2vh 13.3% 2vh .5%;
		float:right;
	}
}

@media only screen and  (min-width: 950px) and (max-width: 1128px) {
	.editions {
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.top-stories {
		width:50%;
		margin: 2vh .5% 2vh 10.77%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:27%;
		margin:2vh 10.77% 2vh .5%;
		float:right;
	}

}

@media only screen and (min-width: 800px) and (max-width: 949px){
	.top-stories{
		width:64%;
		margin: 2vh 1%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:32%;
		margin:2vh 1%;
		float:right;
	}
}

@media only screen and (min-width: 530px) and (max-width: 799px){
	.top-stories{
		width:48%;
		margin: 2vh 1%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:48%;
		margin:2vh 1%;
		float:right;
	}
}

@media only screen and (max-width:529px){
	.top-stories,
	.recent-updates,
	.subscribe {
		margin:2vh 1%;
	}
}

article {
  background-color: white;
	overflow:auto;
}

.editions {
	margin-top:0;
	margin-bottom:0;
}

.edition{
	background-color:@page-background;
	height: 24vh;
	min-height: 4.5em;
	margin:2vh 1% 2vh 1%;
	position:relative;
}

.edition h1{
	color:@green;
	position:absolute;
	bottom:0;
	right:5vw;
}


.nav {
	display:none;
}

.editions-banner,
.news {
	display:none;
	width:100%;
	//background-color:@green;
	text-align:center;
	clear:both;
	padding:1vh 0;
	color:white;
}

.editions-banner {
	background-color: @almost-black;
}

.news {
	background-color: @green;
}

h1:before {
	content: '. ';
}

.editions-banner:after,
.news:after {
	content: '';
	display: block;
	position: absolute;
	width: 0; height: 0;
	left: calc(50% - 3em);
	border: solid transparent;
	border-width: 3em;
	border-top-width: 2em;
	//border-top-color: @green;
}

.editions-banner:after {
	border-top-color:@almost-black;
}

.news:after {
	border-top-color:@green;
}

.editions-banner h1,
.news h1 {
	margin:0;
}

.top-stories {
	clear:both;
	background-color:@page-background;
	padding-bottom:1vh;
	//float:left;
}

.top-stories h1{
	margin:2vh 4%;
}

.top-story {
	border: 2px solid @almost-black;
	height: 35vh;
	margin: 0 4% 4vh 4%;
}

.recent-updates {
	background-color: @page-background;
}

.recent-updates h1,
.recent-updates ul {
	margin:2vh 9%;
	padding:0;
}

.recent-updates li {
	list-style-type: none;
	margin-top:1.5vh;
}

// subscribe form
.subscribe {
	background-color: @almost-black;
}

.subscribe form {
  font-family: @sans-serif;
	margin:1vh 9%;
}

.subscribe form h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0;
	color:white;
}

.subscribe form input[type=email] {
  outline: none;
}

.subscribe form input[type=submit] {
  border-radius: 0;
  border: 1px solid currentColor;
  outline: none;
}
