@import 'css/definitions.less';
@import 'css/newsletter_signup.less';

* {
	box-sizing:border-box;
}

body {
	font-family:@sans-serif;
	margin:0;
	background-color:white;
}

a {
	text-decoration: none;
}

header.sitewide {
	height: 10vh;
	min-height:2em;
	background-color:@page-background;
	padding: calc(5vh - .75em);
}

header.sitewide h1{
	margin:0;
	font-size:1.5em;
}



@media only screen and (min-width: 800px){
	.top-stories{
		width:64.5%;
		margin: 0 .5% 1vh 1%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:32.5%;
		margin:0 1% 1vh .5%;
		float:right;
	}
}

@media only screen and (min-width: 530px) and (max-width: 799px){
	.top-stories{
		width:48.5%;
		margin: 0 .5% 1vh 1%;
		float:left;
	}
	.recent-updates,
	.subscribe {
		width:48.5%;
		margin: 0 1% 1vh .5%;
		float:right;
	}
}

@media @mobile{
	.top-stories,
	.recent-updates,
	.subscribe {
		margin:0 1% 1vh 1%;
		width:98%;
		float:left;
	}
}

article {
  background-color: @page-background;
	overflow:auto;
}

.editions {
	margin-top:0;
	margin-bottom:0;
}

.edition{
	background-color:@page-background;
	background-size:cover;
	height: 27vh;
	min-height: 4.5em;
	margin:2vh 1% 2vh 1%;
	position:relative;
}

.edition h1{
	color:@green;
	position:absolute;
	bottom:0;
	right:5vw;
}

.disinformation {
	background-image: url('https://usercontent.codex.press/images/26057c30-5521-4919-9458-6dccfdcd44ed/medium.jpg?1473579821');
	background-position: 0% 70%;
}

.migrant {
  background-image: url('https://usercontent.codex.press/images/8a8e2a50-e9e8-4f0c-a951-d6f3631c649a/medium.jpg?1473579822');
	background-position: 0% 50%;
}

.lgbt {
  background-image: url('https://usercontent.codex.press/images/8fe112e7-9d39-4176-a7be-279fda0cc0fb/medium.jpg?1473579820');
	background-position: 0% 50%;
}


h1:before {
	content: '. ';
}




.top-stories {
	clear:both;
	background-color:@page-background;
	padding-bottom:1vh;
	//float:left;
}

.top-stories h1{
	margin:2vh 2vw;
}

.top-story {
	border: 2px solid @almost-black;
	height: 35vh;
	margin: 0 2vw 4vh 2vw;
}

.recent-updates {
	background-color: @page-background;
}

.recent-updates h1,
.recent-updates ul {
	margin:2vh 9%;
	padding:0;
}

.recent-updates li {
	list-style-type: none;
	margin-top:1.5vh;
}

// subscribe form
.subscribe {
	background-color: @almost-black;
}

.subscribe form {
  font-family: @sans-serif;
	margin:1vh 9%;
}

.subscribe form h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0;
	color:white;
}

.subscribe form input[type=email] {
  outline: none;
}

.subscribe form input[type=submit] {
  border-radius: 0;
  border: 1px solid currentColor;
  outline: none;
}
