@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700:latin);

@import 'css/definitions';
@import 'css/share_menu';
@import 'css/fonts';
@import 'css/header';

@media @mobile     { html { font-size: 15px; } }
@media @tablet     { html { font-size: 16px; } }
@media @desktop    { html { font-size: 16px; } }
@media @desktop-xl { html { font-size: 16px; } }

html {
  font-family: @serif;
  line-height: 1.5;
  color: @text-color;
  background-color: @page-background;
}

body {
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}



// DEFAULT STYLES

h1, h2, h3, h4, h5, h6 {
  font-family: @sans-serif;
}

@media @tablet     { .hed { font-size: 2.2em; } }
@media @desktop    { .hed { font-size: 2.4em; } }
@media @desktop-xl { .hed { font-size: 2.5em; } }


.byline {
  font-family: @sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  hyphens: none;
}

.byline:before {
  content: ' by ';
  font-size: 0.8em;
  font-weight: 300;
  text-transform: lowercase;
}


.story-type {
  font-family: @sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: @green;
  hyphens: none;
}

.subhed {
  font-weight: 700;
  font-family: @sans-serif;
}

.subhed:not(:first-child) {
  padding-top: 3em;
}

.publication-date {
  font-family: @sans-serif;
}

.dek {
  font-size: 1.5em;
  font-family: @sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.caption {
  font-size: .9em;
  font-family: @sans-serif;
  line-height: 1.1;
}



// LINKS

a {
  color: @text-color;
}

a:active, a:hover, a:focus {
  color: @green;
}

a:visited {
  color: @almost-black;
}

