@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700:latin);

@import 'css/definitions';
@import 'css/share_menu';
@import 'css/fonts';
@import 'css/header';

body {
  font-family: @serif;
  line-height: 1.5;
  color: @text-color;
  background-color: @page-background;
  margin: 0;
}

figure .frame {
  color: white;
}

figure.right {
  float: right;
  clear: right;
  margin: 1em;
}

figure.left {
  float: left;
  clear: left;
  margin: 1em;
}

@media @mobile, @tablet {
  figure.right,
  figure.left {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}


// DEFAULT STYLES

h1, h2, h3, h4, h5, h6 {
  font-family: @sans-serif;
}

@media @tablet     { .headline { font-size: 2.2em; } }
@media @desktop    { .headline { font-size: 2.4em; } }
@media @desktop-xl { .headline { font-size: 2.5em; } }


.byline {
  font-family: @sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  hyphens: none;
}

.byline:before {
  content: ' by ';
  font-size: 0.8em;
  font-weight: 300;
  text-transform: lowercase;
}


.story-type {
  font-family: @sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: @green;
  hyphens: none;
}

.subhed {
  font-weight: 700;
  font-family: @sans-serif;
}

.subhed:not(:first-child) {
  padding-top: 3em;
}

.publication-date {
  font-family: @sans-serif;
}

.dek {
  font-size: 1.5em;
  font-family: @sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.caption {
  font-size: .9em;
  font-family: @sans-serif;
  line-height: 1.1;
}



// LINKS

a {
  color: @text-color;
}

a:active, a:hover, a:focus {
  color: @green;
}

a:visited {
  color: @dark-green;
}

figure a {
  color: #eee;
}


// JUST HELPFUL

.no-wrap {
  white-space: nowrap;
}

.secret.message {
  display: none;
}

.text-center {
  text-align: center;
}






figure .frame .content-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

figure .frame .content-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

// these by default will have "flex: 0 1 auto;" which makes them shrink when
// obviously they shouldn't because they probably have text in there
figure .frame .content-center > p,
figure .frame .content-bottom > p {
  flex: 0 0 auto;
}

figure .top    { position: absolute; top: 0; }
figure .right  { position: absolute; right: 0; }
figure .bottom { position: absolute; bottom: 0; }
figure .left   { position: absolute; left: 0; }

figure .frame > * { order: 0; }
figure .before { order: -1; }
figure .after  { order: 1; }

// fill
figure .frame .fill {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


