@import 'css/_definitions';

@keyframes small-sector-spin {
  0% {
    transform: rotate(-61deg);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-40.66deg);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes medium-sector-spin
  {
  0% {
    transform: rotate(-121deg) scale(0.8236);
    transform-origin: bottom;
    animation-timing-function:ease-in;
    }
  33.33% {
    transform: rotate(-80.66deg) scale(0.83);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes large-sector-spin {
  0% {
    transform: rotate(-181deg) scale(0.7);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-120.66deg) scale(0.7);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes move-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}


#small-sector {
  animation: 2s linear 0s 1 small-sector-spin;
}

#medium-sector {
  animation: 2s linear 0s 1 medium-sector-spin;
}

#large-sector {
  animation: 2s linear 0s 1 large-sector-spin;
}


.nautilus-container {
  position: relative;
  height: 120vw;
  display: block;
  width:100%;
}

.membership-nautilus {
  display: block;
  //height: 900px;
  background-color: #eee;
  animation: 2s linear 0s 1 move-left;
}

.memberships {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0px;
 // width:80vw; //works
 // pointer-events: auto;
 // visibility: visible;
 pointer-events: none;
}

a {
  pointer-events: auto;
}

.starting-text {
	position: absolute;
	left: 60%;
	//top: 40vw;
	animation: 1.3s ease-in-out 1.7s 1 move-down backwards;
}

.active-text {
	position: absolute;
	left: 60%;
	//top: 40vw;
	animation: 1.3s ease-in-out 0s 1 move-down backwards;
}

.hidden-text {
	display:none;
}

#text-div {
  position:absolute;
  overflow:hidden;
  height: 1000px;
}

.membership-nautilus ul {
  padding-left: 20px;
}
.membership-nautilus h1 {
  margin-left: 20px;
}


@media only screen and (max-width: 529px) {
	.memberships {
		width: 85vw;
	}
	.starting-text,
	.active-text {
		top: 42.5vw;
	}
}

@media only screen and (min-width: 530px) and (max-width: 949px) {
	.memberships {
		width: 85vw;
	}
	.starting-text,
	.active-text {
		top: 42.5vw;
	}
}

@media only screen and (min-width: 950px) and (max-width: 1128px) {
	.memberships {
		width: 700px;
	}
	.starting-text,
	.active-text {
		top: 350px;
	}
}

@media only screen and (min-width: 1129px){
	.memberships {
		width: 800px;
	}
	.starting-text,
	.active-text {
		top: 400px;
	}
}
