@import 'css/_definitions';

@keyframes small-sector-spin {
  0% {
    transform: rotate(-61deg);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-40.66deg);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes medium-sector-spin
  {
  0% {
    transform: rotate(-121deg) scale(0.8236);
    transform-origin: bottom;
    animation-timing-function:ease-in;
    }
  33.33% {
    transform: rotate(-80.66deg) scale(0.83);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes large-sector-spin {
  0% {
    transform: rotate(-181deg) scale(0.7);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-120.66deg) scale(0.7);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(7.5%);
  }
  100% {
    transform: translateX(-7.5%);
  }

}

@keyframes move-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes move-down-mobile {
	0% {
		transform: translateY(-125%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes remove-mask {
	0% {
		opacity: 1;
	}
	33.33% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

#small-sector {
  animation: 2s linear 0s 1 small-sector-spin;
}

#medium-sector {
  animation: 2s linear 0s 1 medium-sector-spin;
}

#large-sector {
  animation: 2s linear 0s 1 large-sector-spin;
}

#sector-mask {
  animation: 2s linear 0s 1 remove-mask forwards;
}

.nautilus-container {
  position: relative;
  height: 1000px;
  display: block;
  float: left;
}

.membership-nautilus {
  display: block;
  position: relative;
  background-color: #eee;
  animation: 2s linear 0s 1 move-left forwards;
}

.memberships {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0px;
  pointer-events: none;
}

.memberships a,
.memberships a:hover,
.memberships a:visited,
.memberships a:active {
  text-align: center;
  color: white;
  background-color: #46c664;
  font-size: 1.2em;
  padding: .3em;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

 a {
 pointer-events: auto;
 }

.starting-text {
	position: absolute;
//	animation: 1.3s ease-in-out 1.7s 1 move-down backwards;
}

.active-text {
	position: absolute;
	animation: 1.3s ease-in-out 0s 1 move-down backwards;
}

.hidden-text {
	display:none;
}

.active-price {
	fill: yellow;
}

.inactive-price {
	fill: #eee;
}

.active-price,
.inactive-price {
 font-family: "Times New Roman", Times, serif;
}

#text-div {
	position:absolute;
	overflow:hidden;
	height: 1000px;
}

.membership-nautilus ul {
	padding-left: 20px;
}
.membership-nautilus h1 {
	margin-left: 20px;
}


@media only screen and (max-width: 699px) {
	.nautilus-container,
	.memberships {
		width: 100%;
	}
	.starting-text,
	.active-text {
		top: 47.5vw;
		left: 15%;
	}
	.starting-text h1,
	.active-text h1 {
		min-height: 15vw;
		margin-left: 50%;
		text-align: right;
		font-size: 5vw;
	}
	.starting-text {
		animation: 1.3s ease-in-out 1.7s 1 move-down-mobile backwards;
	}
}

@media only screen and (min-width: 700px) and (max-width: 949px) {
	.nautilus-container,
	.memberships {
		width: 100%;
	}
	.starting-text,
	.active-text {
		top: 47.5vw;
		left: 60%;
	}
	.starting-text h1,
	.active-text h1 {
		font-size: 2em;
	}
	.starting-text {
		animation: 1.3s ease-in-out 1.7s 1 move-down backwards;
	}
}

@media only screen and (min-width: 950px) and (max-width: 1128px) {
    .nautilus-container,
    .memberships {
		width: 800px;
	}
	.starting-text,
	.active-text {
		top: 350px;
		left: 60%;
	}
	.starting-text h1,
	.active-text h1 {
		font-size: 2em;
	}
	.starting-text {
		animation: 1.3s ease-in-out 1.7s 1 move-down backwards;
	}
}

@media only screen and (min-width: 1129px){
	.nautilus-container,
	.memberships {
		width: 800px;
	}
	.starting-text,
	.active-text {
		top: 400px;
		left: 60%;
	}
	.starting-text h1,
	.active-text h1 {
		font-size: 2em;
	}
	.starting-text {
		animation: 1.3s ease-in-out 1.7s 1 move-down backwards;
	}
}
