@import 'css/_definitions';

@keyframes first-spin {
  0% {
    transform: rotate(-61deg);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-40.66deg);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes second-spin
  {
  0% {
    transform: rotate(-121deg) scale(0.8236);
    transform-origin: bottom;
    animation-timing-function:ease-in;
    }
  33.33% {
    transform: rotate(-80.66deg) scale(0.83);
    animation-timing-function:ease-out;
  }
  //50% {
  //	transform: rotate(-60.5deg) scale(0.835);
  //}
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes third-spin {
  0% {
    transform: rotate(-181deg) scale(0.7);
    transform-origin: bottom;
    animation-timing-function:ease-in;
  }
  33.33% {
    transform: rotate(-120.66deg) scale(0.7);
    animation-timing-function:ease-out;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }

}


#first-circle {
  animation: 2s linear 0s 1 first-spin;
}

#second-circle {
  animation: 2s linear 0s 1 second-spin;
}

#third-circle {
  animation: 2s linear 0s 1 third-spin;
}


.nautilus-container {
  position: relative;
}

.membership-nautilus {
  display: block;
  height: 900px;
  background-color: #eee;
  animation: 2s linear 0s 1 move-left;
}

.memberships {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0px;
  width:80%; //works
}
