@import 'css/_definitions';

#one-time-amount {
  font-size: 1em;
  width: 4em;
  color: #46c664;
  border: 1px solid #46c664;
  padding-left: 6px;
}

h1, p, .intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media @mobile, @tablet {
  article {
    padding: 1em;
  }
}

@media @desktop, @desktop-xl {
  .intro {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .membership,
  .donations {
    float:left;
    max-width: 400px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .half {
    width: 50%;
    float:left;
  }
}

@media @tablet, @desktop, @desktop-xl {
  .related {
    height:20em;
  }
}

@media @mobile {
  .related {
    height: 10em;
  }
}


header {
  flex: 0 0 100%;
  position: relative;
  margin: 1em 0 2em;
  padding:0.5em;
  margin-bottom: 2em;
}


header.green {
  background-color: @green;
  color: white;
}

header.black {
  background-color: @almost-black;
  color: @almost-white;
}

// black header arrow (overrides default from index.less)
header.black:after {
  border-top-color: @almost-black;
}





.donations {
  margin-left: auto;
  margin-right: auto;
  float:none;
}

.subscribe-button {
  padding:.5em;
  min-width: 18em;
  height: auto;
  display: block;
  text-align:center;
}

article {
  padding-bottom: 50em;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.buttons a {
  display:block;
//  margin-left: auto;
//  margin-right: auto;
  margin-bottom: 1em;
  max-width: 21em;
}



.related {
  max-width: 550px;
  max-width: 550px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 2em;
}

.card .headers {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding:.3em;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	width: 100%;

}

.related img {
  width: 100%;
}

.headline {
 margin:0;
}

h2 {
  text-align: center;
  margin: 0.5em 0;
}

.half {
  padding: 2em;
}


header {
  clear:both;
}



.half.right a {
  margin-left: 0;
  margin-right: 0;
}

.half.left a {
  margin-left:auto;
  margin-right:0;
}
