@import 'css/_definitions';

#one-time-amount {
  font-size: 1em;
  width: 4em;
  color: #46c664;
  border: 1px solid #46c664;
  padding-left: 6px;
}

h1, p, .intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
//  max-width: 550px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media @mobile, @tablet {
  article {
    padding: 1em;
  }

  .half * {
    margin-left: auto;
    margin-right: auto;
  }

  .buttons a {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media @desktop, @desktop-xl {
  .intro {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons a {
    font-size: 1.85em;
    //margin-left: 1em;
    //margin-right: 1em;
  }

  .donations {
    float:left;
  //  width: 27%;
  //  margin-right: 1%;
  }

  .half {
    //width: 50%;
    float:left;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
  }

/*
  .half.right * {
    margin-left: 0;
    margin-right: 0;
  }

  .half.left * {
    margin-left:auto;
    margin-right:0;
  }
  */
}

@media @tablet, @desktop, @desktop-xl {
  .related {
    height:20em;
  }
  .buttons a {
  //  font-size: 1.2em;
    //font-weight: bold;
  }
  .mobile-description {
    display:none;
  }
}

@media @mobile {
  .related {
    height: 10em;
  }
  .extended-description {
    display: none;
  }
}

@media @desktop-xl {
  .donations {
    width: calc(50% - 450px);
    min-width: 201px;
  }

  .stories {
    width: calc(50% - 350px);
    min-width: 250px;
    margin:0;
  }

}

header {
  clear: both;
  flex: 0 0 100%;
  position: relative;
  margin: 1em 0 2em;
  padding:0.5em;
  margin-bottom: 2em;
}


header.green {
  background-color: @green;
  color: white;
}

header.black {
  background-color: @almost-black;
  color: @almost-white;
}

// black header arrow (overrides default from index.less)
header.black:after {
  border-top-color: @almost-black;
}




/*
.donations {
  margin-left: auto;
  margin-right: auto;
  float:none;
}
*/

.subscribe-button {
  padding:.5em;
  //min-width: 18em;
  height: auto;
  display: block;
  text-align:center;
}

article {
  padding-bottom: 50em;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.buttons a {
  display:block;
  margin-bottom: 1em;
//  max-width: 400px;

}


.related {
  max-width: 400px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 2em;
  //box-shadow: -1px -1px 5px #555;
}

.card .headers {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding:.3em;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	width: 100%;

}

.related img {
  width: 100%;
}

.related .headers p {
  margin: 0;
  font-size: 1.2em;
}

.story-type {
  color: @green;
}



h2 {
  text-align: center;
  margin: 0.5em 0;
}

.membership {
  display: block;
  //height: 167px;
  background-color: #ddd;
  //max-width: 860px;
  text-align: center;
  //height: 15em;
  margin-bottom: 27.5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: .6em;
}

.membership h3,
.membership p {
  margin:0;
}

.membership a {
//  background-color: @green;
//  color: @almost-white;

//  position: absolute;
  //bottom: .5em;
  //bottom: 0;
//  left: calc(50% - 6.3444em);
}

.membership a,
.membership a:hover,
.membership a:visited,
.membership a:active {
  color: white;
  background-color: @green;
  font-size: 1.2em;
  padding: .3em;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
