@import 'css/_definitions';

#one-time-amount {
  font-size: 1em;
  width: 4em;
  color: #46c664;
  border: 1px solid #46c664;
  padding-left: 6px;
}

h1, p, .intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
 background-color: #111;
 padding-top: 3em;
 padding-bottom: 2em;
 margin-bottom: 2em;
}

.banner p {
 max-width: 50rem;
 font-size: 1em;
 display: block;
 margin-left:auto;
 margin-right: auto;
 color: #ddd;
}

h2.dek {
 color: #46c664;
}

h2:before {
  content: '. ';
}

text {
 cursor: pointer;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.buttons a {
  font-size: 1.75em;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


@media @mobile, @tablet {
  article {
    padding: 1em;
  }

  .half * {
    margin-left: auto;
    margin-right: auto;
  }

}



@media @mobile {
  .stories {
    width: 100%;
  }
}

@media @tablet {
  .donations,
  .stories {
    float: left;
  }

  .stories {
    width: 65%;
  }
  .donations {
    width: 35%;
  }
  .buttons {
    padding: 0 1em;
  }

}


@media @desktop, @desktop-xl {
  .intro {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .donations {
    float:left;
  }

  .half {
    float:none;
    padding-left: .25em;
    padding-right: .25em;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

}


@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .memberships-container {
    width: 700px;
    float: left;
  }
  .stories {
    width: calc(100% - 700px);
    float: left;
  }
  .donations {
    width: 100%;
  }
  .donations .buttons {
    display: inline-block;
    width: 100%;
  }

  .donations .buttons>div {
    width: 50%;
    float: left;
  }

  .donations .buttons div a {
    display: block;
    float: left;
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

}

@media only screen and (min-width: 1129px) and (max-width: 1229px) {
  .memberships-container {
    width: 800px;
    float: left;
  }
  .stories {
    width: calc(100% - 800px);
    float: left;
  }
  .donations {
    width: 100%;
  }
  .donations .buttons {
    display: inline-block;
    width: 100%;
  }

  .donations .buttons>div {
    width: 50%;
    float: left;
  }

  .donations .buttons div a {
    display: block;
    float: left;
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

}

@media only screen and (min-width: 1230px) {
  .donations {
    width: 100%;
  }

  .donations .buttons {
    display: inline-block;
    width: 100%;
  }

  .donations .buttons>div {
    width: 50%;
    float: left;
  }

  .donations .buttons div a {
    display: block;
    float: left;
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .memberships-container {
    width: 66%;
    float: left;
  }

  .nautilus-container {
    margin-left: auto;
    margin-right: auto;
//    float: none;
  }

  .stories {
//    width: calc(50% - 350px);
    width: 34%;
    float: left;
    min-width: 250px;
    margin:0;
  }

  .related .headers p {
    //  font-size: 1.25em;
  }

}





header {
  clear: both;
  flex: 0 0 100%;
  position: relative;
  margin: 1em 0 2em;
  padding:0.5em;
  margin-bottom: 2em;
}


header.green {
  background-color: @green;
  color: white;
}

header.black {
  background-color: @almost-black;
  color: @almost-white;
}

// black header arrow (overrides default from index.less)
header.black:after {
  border-top-color: @almost-black;
}




/*
.donations {
  margin-left: auto;
  margin-right: auto;
  float:none;
}
*/

.subscribe-button {
  padding:.5em;
  //min-width: 18em;
  height: auto;
  display: block;
  text-align:center;
}

article {
  padding-bottom: 50em;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.buttons a {
  display:block;
  margin-bottom: 1em;
//  max-width: 400px;

}


.related {
  max-width: 400px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 2em;
  //box-shadow: -1px -1px 5px #555;
}

.card .headers {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding:.3em;
	background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.4));
	width: 100%;

}

.related img {
  width: 100%;
}

.related .headers p {
  margin: 0;
  //font-size: 1.2em;
}

.story-type {
  color: @green;
}



h2 {
  text-align: center;
  margin: 0.5em 0;
}

.membership {
  display: block;
  //height: 167px;
  background-color: #ddd;
  //max-width: 860px;
  text-align: center;
  //height: 15em;
  margin-bottom: 27.5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: .6em;
}

.membership h3,
.membership p {
  margin:0;
}

.membership a {
//  background-color: @green;
//  color: @almost-white;

//  position: absolute;
  //bottom: .5em;
  //bottom: 0;
//  left: calc(50% - 6.3444em);
}

.membership a,
.membership a:hover,
.membership a:visited,
.membership a:active {
  color: white;
  background-color: @green;
  font-size: 1.2em;
  padding: .3em;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
