.sidebar {
  width: 440px;
  margin-left: auto;
  margin-right: 4%;
  height: 90vh;
  overflow: auto;
}

.now-playing {
  position: absolute;
  //position: fixed;
  left: 4%;
  top: 4em;
  margin-left: 0;
  width: calc(92% - 420px);
  min-width: 420px;
}

.now-playing .controls {
  display: block;
}

.now-playing figcaption {
  display: inline;
}


.playlist {
  margin-left: auto;
  margin-right: 4%;
  width: 420px;
}

.playlist .controls {
  display: none;
}

.playlist figcaption {
  display: none;
}


.playlist figure {
//  width: 180px;
}


.playlist .intro {
  height: 270px;
  position: absolute;
  top: 0;
  width: 339.5px;
}

.playlist {
  height: 270px;
}

.playlist .hed {
  position: relative;
  top: 170px;
}




.intro .share {
  display: inline-block;
  width: 9.6em;
}

.share a {
 margin-left: .5em;
 margin-right: .5em;
}

article > .hed {
  margin-left: calc(4% + 2em);
}
